body {
    background-color: #575759;
    color: rgb(5, 13, 35);
    margin: 20px;
}

.heading {
    margin: 0 20px;
}

.main-content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.sorting-screen {
    margin: 20px;
    border: 1px solid white;
    background-color: teal;
}

.graph-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid black;
    background-color: white;
    height: 300px;
}

.bar {
    width: 20px;
    background-color: aqua;
    border-radius: 2px;
    border: 1px solid black;
    margin: 0 1px;
}

.controllers-container {
    margin: 20px;
    background-color: rgb(199, 230, 199);
    border: 1px solid white;
}