.controllers-container {
  margin: 10px;
  padding: 10px;
  width: 150px;
  background-color: transparent;
  border: 1.5px solid #4e5ddf;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.size-control,
.speed-control {
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.buttons-container {
  width: 100%;
  margin: 10px 10px;
  display: flex;
  justify-content: space-evenly;
}

.play-btn,
.stop-btn {
  cursor: pointer;
  color: #155eab;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #89934f, 0 0 42px #89934f,
    0 0 82px #89934f, 0 0 92px #89934f, 0 0 102px #89934f, 0 0 151px #0fa;
}

#reset-btn {
  cursor: pointer;
  color: #155eab;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #89934f, 0 0 42px #89934f,
    0 0 82px #89934f, 0 0 92px #89934f, 0 0 102px #89934f, 0 0 151px #0fa;
}

.play-stop-btn {
  cursor: pointer;
}

.stop-btn {
  cursor: pointer;
}

.compare-btn {
  border: 1px solid red;
  background: grey;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.legend-container {
  font-size: 15px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  div:not(:last-child) {
    margin-bottom: 20px;
  }
}
