@import "styles/controls";
@import "styles/screen";

body {
  background-color: #151d24;
  color: rgb(229, 234, 95);
  margin: 20px;
}

.heading {
  margin: 0 20px;
}

.main-content {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
