@import "styles/controls";
@import "styles/screen";

body {
  background-color: #04040a;
  color: #ccbe3f;
  margin: 50px;
  font-family: "Courier New", Courier, monospace;
}

.main {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 0%;
  box-shadow: -32vw 22vh 1px 1px #fff, -41vw 12vh 0.3px 1px #fff,
    -39vw 46vh 0.5px 0.5px #fff, -40vw -33vh 2px 0.5px #fff,
    -49vw -36vh 1px 2px #fff, -6vw 21vh 2px 1px #fff, -37vw -44vh 2px 1px #fff,
    19vw 14vh 3px 2px #fff, -26vw 43vh 1px 1px #fff, -12vw -32vh 1px 1px #fff,
    15vw 21vh 2px 2px #fff, -1vw 35vh 2px 0.5px #fff, -35vw 2vh 1px 2px #fff,
    -40vw 26vh 2px 2px #fff, 34vw -7vh 1px 1px #fff, 23vw -37vh 0.5px 0.6px #fff,
    -9vw -14vh 3px 2px #fff, 40vw 35vh 2px 0.75px #fff, 17vw 44vh 3px 2px #fff,
    -31vw 45vh 2px 1px #fff, 50vw 49vh 2px 2px #fff, -7vw -18vh 0px 1px #fff,
    14vw 22vh 2px 2px #fff, -28vw -23vh 3px 1px #fff, 49vw -45vh 2px 2px #fff,
    15vw 46vh 2px 2px #fff, 15vw 37vh 2px 2px #fff, 29vw -1vh 2px 2px #fff,
    33vw 50vh 2px 1px #fff, 5vw -47vh 1px 1px #fff, 30vw 13vh 0px 2px #fff,
    -12vw -28vh 2px 2px #fff, 37vw 49vh 2px 2px #fff, -18vw 6vh 2px 2px #fff,
    -10vw 38vh 2px 1px #fff, -16vw -26vh 1px 1px #fff, -44vw -45vh 2px 2px #fff,
    22vw -38vh 0.5px 1px #fff, 46vw 26vh 2px 2px #fff, -3vw -5vh 2px 1px #fff,
    42vw 22vh 2px 2px #fff, 15vw -22vh 2px 0.5px #fff,
    -25vw -50vh 0.4px 2px #fff, 39vw -45vh 1px 1px #fff, -31vw 1vh 1px 2px #fff,
    6vw 14vh 2px 2px #fff, -40vw 10vh 1px 1px #fff, 9vw -29vh 2px 2px #fff,
    39vw -50vh 2px 1px #fff, 13vw -42vh 1px 0.5px #fff;
  animation: zoom 10s infinite alternate;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.heading {
  margin: 40px 30px;
  text-align: center;
  font-size: 25px;
  font-family: "Press Start 2P", cursive;
  animation: pulsate 10s ease-in-out infinite alternate-reverse;
}

.main-content {
  height: 580px;
  display: flex;
  justify-content: center;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #77923d, 0 0 6px #536e39, 0 0 10px #6c9843,
      0 0 12px #3f672e, 0 0 18px #5a8548, 0 0 20px #4f8021, 0 0 25px #599630;
  }

  0% {
    text-shadow: 0 0 2px #7e6536, 0 0 4px #7e6536, 0 0 6px #7e6536,
      0 0 10px #7e6536, 0 0 25px #7e6536, 0 0 45px #ff8d00;
  }
}

.socials {
  margin: 100px 0 0 0;
  display: flex;
  justify-content: center;
  color: white;
}

.social-icon {
  margin: 0 7px 0 7px;
}

.social-icon a {
  color: #70d9b1 !important;
}

.social-icon a:hover {
  color: #eee18d !important;
}
